.headline {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.link {
  color: #ff5722;
  cursor: pointer;
  font-weight: 500;
}

.login-button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 12px 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}
